@font-face{
    font-family: Clash-medium;
    src: url("C:/Coding Files/HTML/Cafe-website/Fonts/ClashGrotesk-Medium.otf");

}

body {
    background-color: rgb(45,4,2);
}

.header {
    margin: 10px;
    margin-top: 10px;
    background-color: rgb(208,160,143);
    border-radius: 30px;
}

.web-name {
    display: grid;
}

.web-name h1{
    color: rgb(203,226,224);
    font-family: Clash-medium;
    font-size: 30px;
    padding-top: 60px;
    padding-left: 60px;
    user-select: none;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-left: 45px;
}

.nav-link {
    display: flex;
    padding-top: 60px;
    padding-right: 40px;
    justify-content: end;
}

.home, .insights, .menu, .gallery, .about{
    color: rgb(203,226,224);
    text-decoration: none;
    font-size: 40px;
    padding: 10px;
    font-family: Clash-medium;
}

.home, .insights, .menu, .gallery, .about {
    transition: transform 0.25s ease, filter 0.25s ease;
}

.nav-link:has(:is(.home, .insights, .menu, .gallery, .about):hover)
 :is(.home, .insights, .menu, .gallery, .about):not(:hover) {
    filter: blur(15px);
    opacity: 0.4;
}

:is(.home, .insights, .menu, .gallery, .about):hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.4);
}

.home:hover {
    color: transparent;
    background-image: url(Images/Homelink-photo.jpg);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.insights:hover {
    color: transparent;
    background-image: url(Images/Typing-on-laptop.jpg);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu:hover {
    color: transparent;
    background-image: url(Images/Cafe-dish-2.jpg);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery:hover {
    color: transparent;
    background-image: url(Images/People-in-cafe.jpg);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about:hover {
    color: transparent;
    background-image: url(Images/Cafe-staff.jpg);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.layout {
    display: grid;
    grid-template-columns: 700px 350px;
    grid-template-rows: 800px;
    gap: 50px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
    grid-template-areas: 
    "box-1 box-2";
}

.masked-text {
    color: rgb(203,226,224);
    font-family: Clash-medium;
    text-align: center;
    font-size: 60px;
    color: transparent;
    background-image: url(Images/Masked-photo-coffee.jpg);
    background-size: 100%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: filter 0.25s ease;
    user-select: none;
}

.masked-text:hover {
    filter: blur(1px);
}

.masking-container p {
    font-family: Clash-medium;
    font-size: 35px;
    user-select: none;
    text-align: left;
    color: rgb(45,4,2);
    margin: 13px;
}

.masking-container {
    background-color: rgb(208,160,143);
    border-radius: 30px;
}

.box-2 {
    height: 400px;
    align-self: start;
    background-color: rgb(208,160,143);
    border-radius: 30px;
    margin-top: 40px;
}
